// ======================================
//  Typography Styles
// ======================================

* {
  font-family: $font-stack-primary;
  color: #777;
  box-sizing: border-box;
}

.headline-primary {
  color: $accent-color-a;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: 300;
  color: #777;
}

.link {
  color: $accent-color-b;
  font-weight: 700;
}

.blockquote {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $accent-color-a;
  border-radius: 5px;
}
